<DOCTYPE HTML>
<html lang="en">
	<head>
		<title>InstaUpload|Editor Invite</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>Invitation to join Editors group in InstaUpload</h1>
		<p><b>{{ .CreatorName }}</b> has requested you to join their editor group.</p>
		<p>Please use the button below to join.</p>
		<p><a href="{{ .UrlToken }}">Add as editor</a></p>
		<p>Best regards,</p>
		<p>The InstaUpload Team</p>
		<p><small>This is an automated message. Please do not reply.</small></p>
		<p><small>If you are not expecting this mail, please ignore.</small></p>
		</body>
</html>