<DOCTYPE HTML>
<html lang="en">
	<head>
		<title>InstaUpload|Verifcation Email</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>Please verify your email for InstaUpload.</h1>
		<p>Thank you for signing up for InstaUpload! We are excited to have you on board.</p>
		<p>Please use below button to verifu your accont.</p>
		<p><a href="{{ .UrlToken }}">Verify Email Address</a></p>
		<p>Best regards,</p>
		<p>The InstaUpload Team</p>
		<p><small>This is an automated message. Please do not reply.</small></p>
		<p><small>If you did not sign up for this service, please ignore this email.</small></p>
		</body>
</html>

