<DOCTYPE HTML>
<html lang="en">
	<head>
		<title>InstaUpload|Welcome Mail</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<H1>Welcome to InstaUpload</H1>
			<p>Dear {{.Name}},</p>
			<p>Thank you for signing up for InstaUpload! We are excited to have you on board.</p>
			<p>To get started, please verify your email address by clicking the link below:</p>
			<p><a href="https://instaupload.com/users/send-verify">Verify Email Address</a></p>
			<p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
			<p>Best regards,</p>
			<p>The InstaUpload Team</p>
			<p><small>This is an automated message. Please do not reply.</small></p>
			<p><small>If you did not sign up for this service, please ignore this email.</small></p>
			<p><small>InstaUpload, Inc. | 1234 Upload Lane | Cloud City, CC 12345</small></p>
			<p><small>Copyright © 2023 InstaUpload. All rights reserved.</small></p>
			<p><small>Privacy Policy | Terms of Service</small></p>
			<p><small>Follow us on <a href="https://www.instagram.com/instaupload">Instagram</a> | <a href="https://www.twitter.com/instaupload">Twitter</a> | <a href="https://www.facebook.com/instaupload">Facebook</a></small></p>
			</body>
</html>

